{% include 'header.html' %}
<form method="POST" action="">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" required><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required><br>

    <label for="admin">Admin</label>
    <input type="checkbox" name="admin" id="admin"><br>

    <button type="submit">Submit</button>
</form>
{% if error %}
  <p style="color: red;">Error: {{ error }}</p>
{% endif %}
